<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}GearUp Rentals{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
    <header>
        <h1>GearUp Rentals</h1>
        <hr />
    </header>

    <nav>
        <div>
            <a href="./stores">Stores</a>
            <a href="./store-inventory">Store Inventory</a>
            <a href="./customers">Customers</a>
            <a href="./equipment">Equipment</a>
            <a href="./reservations">Reservations</a>
            <a href="./categories">Categories</a>
        </div>
    </nav>
<form id="reset-form" method="GET" action="/reset-db">
    <button type="submit" id="reset-button">Reset DB</button>
</form>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr />
        <p>©2025 CS340 Team 61. Eric Mitchell and Jake Barnet</p>
    </footer>
</body>
</html>