{% extends "base.html" %}

{% block title %}Categories Page{% endblock %}

{% block content %}

<h1>Categories Page</h1>

 <table border="1" cellpadding="8" cellspacing="0">
	<thead>
		<tr>
			{% for key in categories[0].keys() %}
			<th>{{ key }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for category in categories %}
		<tr>
			<td>{{ category.id }}</td>
			<td>{{ category.activity_type }}</td>
			<td>{{ category.description }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}