{% extends "base.html" %}

{% block title %}Categories Page{% endblock %}

{% block content %}

<h1>Categories Page</h1>

 <table border="1" cellpadding="8" cellspacing="0">
	<thead>
		<tr>
			<th>Category ID</th>
			<th>Activity Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Hiking</td>
			<td>Hiking Equipment</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Skiing</td>
			<td>Skiing equipment</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Protective</td>
			<td>Personal protective equipment</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Cycling</td>
			<td>Bicycle equipment</td>
		</tr>
	</tbody>
</table>
{% endblock %}