{% extends "base.html" %}

{% block title %}Customers Page{% endblock %}

{% block content %}

<h1>Customers Page</h1>


{% if customers %}
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Address</th>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer["first_name"] }}</td>
            <td>{{ customer["last_name"] }}</td>
            <td>{{ customer["phone_number"] }}</td>
            <td>{{ customer["address"] }}</td>
            <td>
                <form id="delete_customer_form" method="POST" action="/customers-delete">
					<input type="hidden" name="delete_customer_id" value="{{ customer['id'] }}">
					<button type="submit">Delete</button>
				</form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p><em>No customers found.</em></p>
{% endif %}

<h3>Add New Customer</h3>
<form method="POST" action="/customers">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required />

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required />

    <label for="phone_number">Phone Number:</label>
    <input type="text" id="phone_number" name="phone_number" required />

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required />

    <input type="submit" value="Add Customer" />
</form>

{% endblock %}