{% extends "base.html" %}

{% block title %}Customers Page{% endblock %}

{% block content %}

<h1>Customers Page</h1>


{% if customers %}
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Address</th>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer["first-name"] }}</td>
            <td>{{ customer["last-name"] }}</td>
            <td>{{ customer["phone-number"] }}</td>
            <td>{{ customer["address"] }}</td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p><em>No customers found.</em></p>
{% endif %}

{% endblock %}