{% extends "base.html" %}

{% block title %}Reservations Page{% endblock %}

{% block content %}

<h1>Reservations Page</h1>
{% if reservations %}
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <td>Reservation Id</td>
            <td>Customer Id</td>
            <td>Customer First Name</td>
            <td>Customer Last Name</td>
            <td>Equipment Id</td>
            <td>Equipment Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Actual Start Date</td>
            <td>Actual End Date</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation["reservation_id"]}}</td>
            <td>{{ reservation["customer_id"]}}</td>
            <td>{{ reservation["customer_first_name"]}}</td>
            <td>{{ reservation["customer_last_name"]}}</td>
            <td>{{ reservation["equipment_id"]}}</td>
            <td>{{ reservation["equipment_name"]}}</td>
            <td>{{ reservation["start_date"]}}</td>
            <td>{{ reservation["end_date"]}}</td>
            <td>{{ reservation["actual_start_date"]}}</td>
            <td>{{ reservation["actual_end_date"]}}</td>
            <td>
                <button onclick='fillEditForm({{ reservation|tojson }})'>Edit</button>
            </td>
            <td>
                <form id="delete_reservation_form" method="POST" action="/reservations-delete">
					<input type="hidden" name="delete_reservation_id" value="{{ reservation['reservation_id'] }}">
					<button type="submit">Delete</button>
				</form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p><em>No reservations found.</em></p>
{% endif %}
<h3>Add New Reservation</h3>
<form method="POST" action="/reservations">
    <label for="customer_id">Customer:</label>
    <select id="customer_id" name="customer_id">
        {% for customer in customers %}
            <option value="{{ customer['id'] }}">{{ customer["first_name"]}} {{ customer["last_name"]}}</option>
        {% endfor %}
    </select>
    
    <label for="equipment_id">Item:</label>
    <select id="equipment_id" name="equipment_id">
        {% for eq in equipment %}
            <option value="{{ eq['id'] }}">{{ eq['name'] }}</option>
        {% endfor %}
    </select>

    <label for="start_date">Start Date:</label>
    <input type="text" id="start_date" name="start_date" required />

    <label for="end_date">End Date:</label>
    <input type="text" id="end_date" name="end_date" required />

    <input type="submit" value="Add Reservation" />
</form>

<h3>Edit Existing Reservation</h3>
<form method="POST" action="/reservations-edit">
    <label for="edit_customer_id">Customer:</label>
    <select id="edit_customer_id" name="edit_customer_id">
        {% for customer in customers %}
            <option value="{{ customer['id'] }}">{{ customer["first_name"]}} {{ customer["last_name"]}}</option>
        {% endfor %}
    </select>

    <label for="edit_equipment_id">Item:</label>
    <select id="edit_equipment_id" name="edit_equipment_id">
        {% for eq in equipment %}
            <option value="{{ eq['id'] }}">{{ eq['name'] }}</option>
        {% endfor %}
    </select>

    <label for="edit_start_date">Start Date:</label>
    <input type="text" id="edit_start_date" name="edit_start_date" required />

    <label for="edit_end_date">End Date:</label>
    <input type="text" id="edit_end_date" name="edit_end_date" required />

    <label for="edit_actual_start_date">Actual Start Date:</label>
    <input type="text" id="edit_actual_start_date" name="edit_actual_start_date" required />

    <label for="edit_actual_end_date">Actual End Date:</label>
    <input type="text" id="edit_actual_end_date" name="edit_actual_end_date" required />

    <input type="submit" value="Edit Reservation" />
</form>

<script>
    function fillEditForm(reservation) {
        // Fill the form fields
        document.getElementById('edit_customer_id').value = reservation.customer_id;
        document.getElementById('edit_equipment_id').value = reservation.equipment_id;
        document.getElementById('edit_start_date').value = reservation.start_date;
        document.getElementById('edit_end_date').value = reservation.end_date
        document.getElementById('edit_actual_start_date').value = reservation.actual_start_date;
        document.getElementById('edit_actual_end_date').value = reservation.actual_end_date;
    }
</script>

{% endblock %}