{% extends "base.html" %}

{% block title %}Stores Page{% endblock %}

{% block content %}

<h1>Stores Page</h1>
 
<table border="'1" cellpadding="8" cellspacing="0">
	<thead>
		<tr>
			{% for key in stores[0].keys() %}
			<th>{{ key }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for store in stores %}
		<tr>
			<td>{{ store.id }}</td>
			<td>{{ store.address }}</td>
			<td>{{ store.city }}</td>
			<td>{{ store.zip_code }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}