{% extends "base.html" %}

{% block title %}Stores Page{% endblock %}

{% block content %}

<h1>Stores Page</h1>
 
<table border="'1" cellpadding="8" cellspacing="8">
	<thead>
		<tr>
			<th>Store ID</th>
			<th>Address</th>
			<th>City</th>
			<th>Zip Code</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>123 Fake St</td>
			<td>Denver</td>
			<td>45632</td>
		</tr>
		<tr>
			<td>2</td>
			<td>689 Bloom Ave</td>
			<td>Boulder</td>
			<td>42346</td>
		</tr>
		<tr>
			<td>3</td>
			<td>67 Cherrywood Ln</td>
			<td>Aurora</td>
			<td>43251</td>
		</tr>
		<tr>
			<td>4</td>
			<td>451 Gandy Blvd</td>
			<td>Denver</td>
			<td>45321</td>
		</tr>
		<tr>
			<td>5</td>
			<td>932 Channelside Dr</td>
			<td>Boulder</td>
			<td>41346</td>
		</tr>
	</tbody>
</table>

{% endblock %}