{% extends "base.html" %}

{% block title %}Store Inventory Page{% endblock %}

{% block content %}

<h1>Store Inventory Page</h1>
	{% if inventory_items %}
 <table border="1" cellpadding="8" cellspacing="0">
	<thead>
		<tr>
			{% for key in inventory_items[0].keys() %}
			<th>{{ key }}</th>
			{% endfor %}
			<th colspan="2">Update</th>
  </tr>
 </thead>
  <!-- A query that takes Equipment.id, Equipment.item_name, 
   Stores.address, quantity-->
 <tbody>
		{% for item in inventory_items %}
		<tr>
			<td>{{ item.equipment_id }}</td>
			<td> {{ item.store_id }}</td>
			<td>{{ item.item_name }}</td>
			<td>{{ item.address }}</td>
			<td>{{ item.quantity }}</td>
			<td>
				<form id="delete_inventory_item_form" method="POST" action="/store-inventory-delete">
					<input type="hidden" name="delete_equipment_item_id" value="{{ item.equipment_id }}">
					<input type="hidden" name="delete_from_store_id" value="{{ item.store_id }}">
					<button type="submit">Delete</button>
				</form>
			</td>
		</tr>
		{% endfor %}
 </tbody>
</table>
{% else %}
	<p><em>No inventory found.</em></p>
{% endif %}

	<h3>Add New Item</h3>
	<form method="POST" id="add_item_to_store_form" action="/store-add-new-item">
		<label for="add_item_to_store_store_id">Store Address: </label>
		<select id="stores" name="add_item_to_store_store_id">
			<option value="" disabled selected>Choose a Store</option>
			{% for store in stores %}
						<option value="{{ store.id }}">{{ store.address }}</option>
			{% endfor %}
		</select>
			
		<label for="add_item_to_store">Equipment Name: </label>
		<select id="to_add_item" name="add_item_to_store_equipment_id">Choose equipment>
			<option value=""  disabled selected>Select equipment</option>
			{% for item in equipment %}
						<option value="{{ item.id }}"> {{ item.name }}</option>
			{% endfor %}			
		</select>

		<label for="new-quantity">Quantity:</label>
		<input type="number" name="add_item_to_store_quantity" id="add_item_to_store_quantity" min="1"/>
		<input type="submit"/>
	</form>

	<h3>Update Store Equipment Inventory</h3>
	<form method="POST" class="cuForm" id="store-update-inventory-item" action="/store-update-inventory-item">
		<label for="update_store_id">Store Address: </label>
		<select name="update_inven_store_id" id="update_store_id" required>Choose a Store
			<option value="" disabled selected>Choose a Store</option>
			{% for store in stores %}
						<option value="{{ store.id }}">{{ store.address }}</option>
			{% endfor %}
		</select>

		<label for="update_equipment_id">Current Equipment Item: </label>
		<select name="update_inven_original_equipment_id" id="original_equipment_menu" required>Choose equipment
				<option value="" id="equip_default_option" disabled selected>Select Equipment</option>
		</select>

		<label for="update_new_equipment_id">Updated Equipment Item: (Optional)</label>
		<select name="update_inven_new_equipment_id" id="new_equipment_menu">Choose equipment
			<option value="" disabled selected>New Equipment Item</option>
		</select>

		<label for="new-quantity">Quantity:</label>
		<input type="number" name="update_inven_item_quantity" id="update_item_quantity" min="1"/>

		<input type="submit"/>
	</form>

	<script>
		const equipmentData ={{ equipment | tojson}}
		const inventoryItems = {{inventory_items | tojson}}
		
		document.getElementById("update_store_id").addEventListener("change", function(){
			let storeId = this.value
			if (storeId) {
				updateStoreEquipment(storeId)
				updateChangeEquip(storeId)
			}
		})
	
		function updateStoreEquipment(storeId) {
			let menu = document.getElementById("original_equipment_menu")
			menu.innerHTML = ""
			const defaultOption = document.createElement("option")
			defaultOption.disabaled = true
			defaultOption.selected = true
			defaultOption.textContent = "Select Equipment"
			menu.appendChild(defaultOption)

			inventoryItems.forEach(item => {
				if (storeId == item.store_id) {
					const option = document.createElement("option")
					option.value = item.equipment_id
					option.textContent = item.item_name
					option.dataset.quantity = item.quantity
					menu.appendChild(option)
				}
			});
			menu.onchange = function() {
        const selectedOption = menu.options[menu.selectedIndex]
        if (selectedOption && selectedOption.dataset.quantity) {
            displayQuant(selectedOption.dataset.quantity)
			}
		}
	}

	function updateChangeEquip(storeId) {
			let menu = document.getElementById("new_equipment_menu")
			menu.innerHTML = ""
			const defaultOption = document.createElement("option")
			defaultOption.disabaled = true
			defaultOption.selected = true
			defaultOption.value = ""	
			defaultOption.textContent = "Select Equipment"
			menu.appendChild(defaultOption)

			const filteredItems = equipmentData.filter(eq =>
				!inventoryItems.some(inv => inv.store_id == storeId && inv.equipment_id === eq.id)
				);

			filteredItems.forEach(item => {
				const option = document.createElement("option")
				option.value = item.id
				option.textContent = item.name
				menu.appendChild(option)
			})
		}

	function displayQuant(quantity) {
			document.getElementById("update_item_quantity").value = quantity
	}
	
	</script>	
{% endblock %}

